# ATV
# used by mediashell
product_internal_prop(odm_cast_prop)

# Recovery update
system_internal_prop(recovery_update_prop)

# Global cleartext feature
system_restricted_prop(system_exported_cleartext_prop);
